{{#with model}}
    <form class="pure-form pure-form-aligned" {{action "save" on="submit"}}>
        <fieldset>
            <div class="pure-control-group">
                <label for="name">Username</label>
                {{input id="name" type="text" placeholder="Username" value=username readonly=true}}
            </div>

            <div class="pure-control-group">
                <label for="password">Time to get ready</label>
                {{input id="time_to_get_ready" type="text" placeholder="Time to get ready" value=time_to_get_ready readonly=controller.readOnly}}
            </div>

            <button type="submit" class="pure-button pure-button-primary">Save</button>
        </fieldset>
    </form>

    <h2>Commutes</h2>
    <table class="pure-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Earliest Departure</th>
                <th>Latest Arrival</th>
            </tr>
        </thead>

        <tbody>
            {{#each commutes}}
                <tr class="-pure-table-odd">
                    <td>{{#link-to "commute" name}}{{name}}{{/link-to}}</td>
                    <td>{{origin}}</td>
                    <td>{{destination}}</td>
                    <td>{{earliest_departure}}</td>
                    <td>{{latest_arrival}}</td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="5">No commute available</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <form class="pure-form" {{!action "add_commute" on="submit"}}>
        <fieldset>
            {{input id="new_commute_name" value=new_commute_name type="text" placeholder="Name"}}
            {{#link-to "commute" new_commute_name}}<button id="start" type="submit" class="pure-button pure-button-primary">Add Commute</button>{{/link-to}}
        </fieldset>
    </form>

{{/with}}
