<h2>Commutes</h2>

<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            {{#if showRelationship}}<th>User</th>{{/if}}
            <th>Origin</th>
            <th>Destination</th>
            <th>Earliest Departure</th>
            <th>Latest Arrival</th>
            <th>Created at</th>
        </tr>
    </thead>

    <tbody>
        {{#each commutes}}
            <tr class="-pure-table-odd">
                <td>{{#link-to "commute" id}}{{id}}{{/link-to}}</td>
                {{#if showRelationship}}<td>{{#link-to "user" user.id}}{{user.id}}{{/link-to}}</td>{{/if}}
                <td>{{origin}}</td>
                <td>{{destination}}</td>
                <td>{{earliest_departure}}</td>
                <td>{{latest_arrival}}</td>
                <td>{{created_at}}</td>
            </tr>
        {{else}}
            <tr>
                <td colspan="3">No commute available</td>
            </tr>
        {{/each}}
    </tbody>
</table>
