<h2>Readings</h2>

<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Local Date</th>
            {{#if showRelationship}}<th>Commute</th>{{/if}}
            <th>Day Of The Week</th>
            <th>Route Name</th>
            <th>Duration</th>
        </tr>
    </thead>

    <tbody>
        {{#each readings itemController="readingItem"}}
            <tr class="-pure-table-odd">
                <td>{{local_datetime}}</td>
                <td>{{localDayOfTheWeek}}</td>
                <td>{{route_name}}</td>
                <td>{{duration}}</td>
            </tr>
        {{else}}
            <tr>
                <td colspan="100">No reading available</td>
            </tr>
        {{/each}}
    </tbody>
</table>
